.cover__link {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFFFFF;
    background-image: url(../../../images/background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.cover__link:hover .cover__overlay{
    opacity: 0.8;
}