.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.056;
    color: #FFFFFF;
    grid-row: 1/4;
    padding-bottom: 48px;
    text-rendering: optimizeLegibility;
  }
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.095;
    }
}
@media screen and (max-width: 767px) {
    .place__title {
        width: 90%;
        font-size: 32px;
        line-height: 1.094;
        grid-row: 1/2;
        padding: 50px 0 32px;
    }
}