.photo-grid {
    margin: 92px auto 0 auto;
    padding: 0;
    display: grid;
    width:94%;
    min-height: 671px;
    grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
    gap: 16px;
    justify-items: center;
   }

@media screen and (max-width: 767px) {
    .photo-grid {
        width: 90%;
        margin: 64px 0 0;
        padding-bottom: 26px;
        gap: 12px;


    }
}