.footer__author {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.143;
}
@media screen and (max-width: 760px) {
    .footer__author {
        line-height: 1;
    }
}