.cover__titles {
    margin: 0;
    padding: 0;
    width: 560px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 33%;
    }

@media screen and (max-width: 760px) {
    .cover__titles {
        width: 288px;
        top: 16.5%;
    }
}