.cover__titles {
    margin: 0;
    padding-top: 20%;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;

    }

@media screen and (max-width: 760px) {
    .cover__titles {
        width: 288px;
        padding-top: 10%;
    }
}