.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
    font-size: 18px;
    line-height: 1.63;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        align-self: center;
        width: 90%;
    }
}