.intro__link {
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #AAAAAA;
    text-decoration: none;
}

.intro__link:hover {
    font-weight: bold;
    opacity: 0.8;
}
